# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "760f6ec1d3f912abfc0708f5df6b3755"
name = "zip-blocker-pro"
application_url = "https://zip-blocker-pro.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://zip-blocker-pro.vercel.app/auth/callback",
  "https://zip-blocker-pro.vercel.app/auth/shopify/callback",
  "https://zip-blocker-pro.vercel.app/api/auth/callback",
  "https://zip-blocker-pro.vercel.app"
]
